---
layout: default
---

<div class='announcement'>
  <h3>
    <div class='date'>Saturday, June 25th</div>
    join us for our 10 year anniversary
  </h3>
  <h1>
    <div class='headline'>Goruco is a one day, single track</div>
    Conference in new york city
  </h1>

  <a class='videos-button' href='https://ti.to/goruco/2016' target='_blank'>
    Tickets
  </a>

  <div class='speaking'>
    <div class='speaking-items'>
      <a href="/assets/sponsor-prospectus.pdf" target="_blank">
        <img src='/assets/images/download.png' />
        Sponsor Prospectus
      </a>
    </div>
  </div>
</div>

<div class='container section-container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='content-wrapper section'>
        <div class='section-divider'>
          <hr />
          <img src='/assets/images/ruby-hr.png' />
        </div>
        <div class='info contact-info'>
          <h2>Tickets</h2>
          <p>ORGANIZED BY VOLUNTEERS. PROCEEDS GO BACK TO THE COMMUNITY</p>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-4'>
            <div class="conference-updates">
              <h4>GET CONFERENCE UPDATES</h4>
              <form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" form.signup-form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">

                <input class="signup required mail s3 ui-form-input-on-dark"  type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
                <input class="signup light-ui-btn" type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">
                <div style="position: absolute; left: -5000px;">
                  <input name="b_00945f50a161df14372a84a34_cdf39163af" tabindex="-1" type="text" value="">
                </div>
              </form>
              <p>
              Or get updates on <a href='https://twitter.com/goruco' target="_blank">Twitter</a>
              </p>
            </div>
          </div>

          <div class='col-xs-12 col-sm-8'>
            <div class="row conference-tickets">
              <p class="type-center">Your ticket includes breakfast, lunch, snacks,
              and a Boat Party, on a Boat.
              <br />
              Attendees are welcome to bring a guest to the party.</p>
              <div class="col-xs-6">
                <h3>Regular</h3>
                <div class="price-cost">$399</div>
                <div class="ticket-desc">If your employer is buying your
                  ticket, or you identify as part of the majority demographics
                  of the Ruby/Rails community, this ticket is for you!</div>
              </div>
              <div class="col-xs-6">
                <h3>Diversity <span><i class=""></i></span></h3>
                <div class="price-cost">$299</div>
                <div class="ticket-desc">If you identify as a minority in
                  the Ruby/Rails community, this ticket is for you!
                  Please enter DIVERSITY as your discount code.
                  It is 75% of the regular ticket price in our attempt
                  to recognize the gender wage gap in the US as of 2011.
                  This discount made possible by
                  <a href="http://www.stridenyc.com/" target="_blank">Stride</a> sponsorship.
                </div>
              </div>
              <div class="col-xs-12">
                <a class='dark-ui-btn' href='https://ti.to/goruco/2016' target='_blank'>
                  Buy Now
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class='speaker-section section' id="speakers">
          <div class='row'>
            <div class='col-xs-12'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>
              <h2>Speakers</h2>
            </div>
          </div>

          <div class='speakers'>
            {% for speaker in site.data.speakers %}
            <div class='speaker'>
              <img class='img-responsive small-image' src="/assets/images/speakers/{{ speaker.name | slugify }}.jpg" />
              <div class='speaker-info'>
                <h4>{{ speaker.name }}</h4>
                <h5>{{speaker.title}}</h5>
                <h6>{{ speaker.location }}</h6>
                <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">{{ speaker.twitter }}</a>
              </div>
              <p class='excerpt'>
              {{ speaker.description | truncatewords: 25 }}
              <a href='#' class='read-more' data-toggle="modal" data-target="#modal-{{ forloop.index }}">Read More</a>
              </p>

              <div class="modal fade" id="modal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <h4 class="modal-title">
                        {{ speaker.name }}
                        <span class='modal-location'>{{ speaker.location }}</span>
                      </h4>
                      <div class="modal-bio">
                        <i>{{ speaker.bio }}</i>
                      </div>
                      <img class='modal-image img-responsive' src="/assets/images/speakers/{{ speaker.name | slugify }}.jpg" />
                      <div class='modal-link'>
                        <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">{{ speaker.twitter }}</a>
                      </div>
                      <h5>{{speaker.title}}</h5>
                      {{ speaker.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class='sponsor-section section' id='sponsors'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>
              <h2>Sponsors</h2>
              <h3 class='sponsors-subtitle'>A huge thanks to our amazing sponsors</h3>
            </div>
          </div>
          <h2>Schedule</h2>
          <div class='post'>
            <ul id='timeline'>
              <li class='work'>
                <input class='radio' id='work1' name='works' type='radio' checked>
                <div class="relative">
                  <label for='work1'>Keynote: Code Quality Lessons Learned</label>
                  <span class='date'>10:00 AM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                  Bryan Helmkamp (NY)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work2' name='works' type='radio'>
                <div class="relative">
                  <label for='work2'>The Guest: A Guide To Code Hospitality</label>
                  <span class='date'>10:40 AM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Nadia Odunayo (UK)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work3' name='works' type='radio'>
                <div class="relative">
                  <label for='work3'>Symmetric API Testing</label>
                  <span class='date'>11:35 AM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Aditya Mukerjee (NY)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work4' name='works' type='radio'>
                <div class="relative">
                  <label for='work4'>Pipe Operator for Ruby</label>
                  <span class='date'>12:15 AM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Fabio Akita (Brazil)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work5' name='works' type='radio'>
                <div class="relative">
                  <label for='work5'>Introducing the Crystal Programming Language</label>
                  <span class='date'>12:20 AM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Will Leinweber (SF)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work6' name='works' type='radio'>
                <div class="relative">
                  <label for='work6'>Ruby Racing: Challenging Ruby Methods</label>
                  <span class='date'>12:40 AM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Danielle Adams (NY)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work7' name='works' type='radio'>
                <div class="relative">
                  <label for='work7'>Lunch <img src='/assets/images/lunchbowl.png' /></label>
                  <span class='date'>12:55 AM</span>
                  <span class='duration'>60 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Dos Toros
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work8' name='works' type='radio'>
                <div class="relative">
                  <label for='work8'>Just a Ruby Minute</label>
                  <span class='date'>02:20 PM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Andrew Faraday (UK)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work9' name='works' type='radio'>
                <div class="relative">
                  <label for='work9'>Impactful Refactors: Refactoring for Readability</label>
                  <span class='date'>3:00 PM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Anne Durham (Denver)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work10' name='works' type='radio'>
                <div class="relative">
                  <label for='work10'>Database performance at scale for RoR and MySQL</label>
                  <span class='date'>3:15 PM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Rocio Delgado (NY)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work11' name='works' type='radio'>
                <div class="relative">
                  <label for='work11'>Enumerable’s Ugly Cousin</label>
                  <span class='date'>3:30 PM</span>
                  <span class='duration'>10 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Ross Kaffenberger (NY)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work12' name='works' type='radio'>
                <div class="relative">
                  <label for='work12'>Big Data with rubygems.org Download Data</label>
                  <span class='date'>4:10 PM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Aja Hammerly (Seattle)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work13' name='works' type='radio'>
                <div class="relative">
                  <label for='work13'>Keynote: Cult(ure)</label>
                  <span class='date'>4:50 PM</span>
                  <span class='duration'>30 MIN</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Adam Cuppy (San Diego)
                  </p>
                </div>
              </li>
              <li class='work'>
                <input class='radio' id='work14' name='works' type='radio'>
                <div class="relative">
                  <label for='work14'>After Party <img src='/assets/images/boat.png' /></label>
                  <span class='date'>6:00 PM</span>
                  <span class='duration'>3 HR</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                  <p>
                    Entertainment Cruises
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <div class='news'>
          <div class='divider'>
            <hr />
            <img src='/assets/images/ruby-hr.png' />
          </div>

          <div class='sponsors'>
            {% for sponsor_level in site.data.sponsors %}
            {% assign level = sponsor_level[0] %}

            <h4 class='sponsors-level-title'>
              {% if level == 'platinum' %}
              Platinum Sponsor
              {% elsif level == 'special-thanks'%}
              Special Thanks
              {% else %}
              {{ level }} Sponsors
              {% endif %}
            </h4>

            <div class='sponsor-level {{ level }}-sponsors'>
              {% for sponsor in sponsor_level[1] %}
              <div class='sponsor-container'>
                <div class='sponsor'>
                  <a href='#' data-toggle="modal" data-target="#{{ level }}-modal-{{ forloop.index }}">

                    <img class='img-responsive small-image' src="/assets/images/sponsors/{{ sponsor.name | slugify }}.png" />
                  </a>

                  <div class="modal fade" id="{{ level }}-modal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4 class="modal-title">
                            {{ sponsor.name }}
                            <span class='modal-location'>{{ sponsor.location }}</span>
                          </h4>
                          <a href="{{ sponsor.website }}" target="_blank">
                            <img class='img-responsive modal-image' src="/assets/images/sponsors/{{ sponsor.name | slugify }}.png" />
                          </a>
                          <div class='modal-link'>
                            <a href="{{ sponsor.website }}" target="_blank">{{ sponsor.website }}</a>
                          </div>
                          {{ sponsor.bio }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class='row section'>
          <div class='col-xs-12'>
            <div class='news'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>

              <h2>Latest News</h2>

              {% assign latest_post = site.posts.first %}
              <h3>{{ latest_post.date | date: '%B %d, %Y' }}</h3>

              <div class='post'>
                <h2>{{ latest_post.title }}</h2>
                <p>
                {{ latest_post.excerpt }}
                </p>

                <a class='read-more-button' href='{{ latest_post.url }}'>
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class='row section'>
          <div class='col-xs-12'>
            <div class='section-divider'>
              <hr />
              <img src='/assets/images/ruby-hr.png' />
            </div>

            <!--       <div class='info'>
              <h2>Location</h2>
              <center><img class='img-responsive' src='https://i.ytimg.com/vi/QH2-TGUlwu4/hqdefault.jpg'></center>
              </div> -->


              <div class='info contact-info' id="contact">
                <h2>Contact Us</h2>
                <p>
                Send us an email <a href='mailto:info@goruco.com'>info@goruco.com</a>
                </p>
                <p>
                Follow us on <a href='https://twitter.com/goruco' target="_blank">Twitter</a>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>

      <div class='col-xs-12'>
        <div class='section organizer-section'>
          <h5>
            Goruco 2016 is organized with <i class="fa fa-heart" aria-hidden="true"></i> by these happy & hardworking volunteers
          </h5>
          <div class='organizers'>
          {% for organizer in site.data.organizers %}
            <div class='organizer'>
              <img src='/assets/images/organizers/{{ organizer.name | slugify }}.jpg'>
              <div class='organizer-description'>
                <h4>{{ organizer.name }}</h4>
                <h6><a href='https://twitter.com/{{ organizer.twitter }}' target='_blank'>{{organizer.twitter }}</a></h6>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
