<header>
  <div class='header'>
    <a href='/'>
      <img src='/assets/images/ruby.png' />
      <span class='title'>Goruco</span>
    </a>

    <div class='nav-links hidden-xs'>
      <a href="/blog">Blog</a>
      <a href="">Tickets</a>
      <a href="">Speakers</a>
      <a href="">Location</a>
      <a href="">Schedule</a>
      <a href="">Contact</a>
    </div>
  </div>

  <div class='nav-links slider-nav visible-xs'>
    <a href="/blog">Blog</a>
    <a href="">Tickets</a>
    <a href="">Speakers</a>
    <a href="">Location</a>
    <a href="">Schedule</a>
    <a href="">Contact</a>
  </div>
</header>
