.blog {
  .post-excerpt {
    p {
      font-size: 18px;
      font-weight: 300;
      color: $text-color;
    }

    h3 {
      margin-top: 15px;
    }

    h4 {
      margin-top: 0;
      color: $text-color;
      text-align: left;
    }

    .post-anchor {
      display: flex;
      justify-content: flex-end;
    }
  }
}
