header {
  border-bottom: 3px solid #CF2941;
}
.header, .footer {
  width: 100%;
  padding-top: 10px;
  background-color: $red;
  opacity: .85;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-color: transparent;
  border-bottom: 3px solid #CF2941;
  @include sm-screen {
    padding-top: 25px;
    text-align: center;
    flex-direction: column;
    border-color: transparent;
    border-bottom: 3px solid #CF2941;
  }

  @include xs-screen {
    height: 42px;
    border-bottom: transparent;
    border-color: transparent;
    border-bottom: 3px solid #CF2941;
  }

  .nav-links {
    margin-top: 4px;

    a {
      padding-right: 10px;
      font-weight: 500;
    }

    @include sm-screen {
      margin-left: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  height: 52px;
  .title {
    font-size: 18px;
    font-weight: 700;
    vertical-align: sub;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;

    @include sm-screen {
      padding-bottom: 30px;
    }
  }

  img {
    height: 26px;
    width: 26px;
  }
}

.footer {
  height: 86px;
  padding: 30px 0 25px 0;
  opacity: .85;
  letter-spacing: 2px;
  @include sm-screen {
    height: 100%;
  }

  @include xs-screen {
    height: 100%;
  }


  .copywrite {
    display: flex;
    justify-content: flex-end;

    @include xs-screen {
      justify-content: flex-start;
    }
  }

  .nav-links {
    a {
      opacity: .85;
    }

    a:hover {
      opacity: 1;
    }

    @include sm-screen {
    }

    @include xs-screen {
      margin-top: 18px;
      margin-bottom: 30px;
    }
  }
}

.slider-nav {
  background-color: $red;
  height: 20px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 30px;
  opacity: .85;
  border-bottom: 3px solid #CF2941;

  a {
    padding: 0 10px
  }
}

.code-of-conduct {
  margin: 30px 0;
  text-align: center;

  p {
    color: $gray-text-color;
  }
  a {
    color: $red;
  }
}
