body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.announcement {
  height: 720px;
  background: $red no-repeat center 63% url("/assets/images/goruco-x.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  letter-spacing: 2.5px;

  @include xs-screen {
    height: 375px;
    padding: 0 30px;
  }

  h1 {
    font-size: 48px;
    text-shadow: -5px 5px 0px rgba(0,0,0,0.20);

    .headline {
      margin-bottom: 15px;
    }

    @include xs-screen {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;

    .date {
      margin-bottom: 15px;
    }

    @include xs-screen {
      font-size: 13px;
    }
  }

  .videos-button {
    border: 2px solid white;
    width: 271px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .speaking {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 450px;
    margin-bottom: 15px;
    font-size: 14px;
    height: 75px;

    @include xs-screen {
      margin-top: 30px;
      margin-right: 0;
      justify-content: center;
    }
  }

  .speaking-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;

    @include xs-screen {
      text-align: center;
    }
  }
}

.divider {
  position: relative;
  margin-top: 55px;
  margin-bottom: 50px;

  hr {
    border-top: 2px solid #DBD7D3;
  }

  img {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.news {
  margin-bottom: 30px;
}

.news, .info-wrapper, .speaker-section, .sponsor-section {
  color: $text-color;

  h2, h3, h4 {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 30px;
    font-size: 38px;
    font-weight: 900;
    text-shadow: -3px 3px 0px rgba(0,0,0,0.15);
    text-align: center;
    letter-spacing: 3.49px;
  }

  h3 {
    font-size: 18px;
    opacity: .7;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
  }
}
.ticket-includes {
  margin-top: 12px;
  text-align: center;
}
.ticket-desc{
  font-size: 12px;
  text-align: center;
}
.info-top-divider {
  margin-top: 52px;
  margin-bottom: -30px;
}

.info-wrapper {
  border: 2px solid $border-gray;
  border-radius: 10px;
  background: $gray2;
  padding: 35px;

  .divider {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  a, a:visited {
    text-decoration: none;
    color: $red;
  }

  h2 {
    margin-top: 30px;
  }

  .info {
    margin-bottom: 80px;
  }

  .info:last-child {
    margin-bottom: 15px;
  }

  .contact-info {
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }

    p {
      color: $gray-text-color;
      font-size: 18px;
      font-weight: 500;
    }

    a {
      font-size: 18px;
    }
  }
}

.ui-form-input-on-dark {
  height: $ui-height;
  line-height: $ui-height;
  border: 0;
  border-radius: $ui-border-radius;
  padding: 10px;
  &:hover,
  &:focus{
    border-color: $color-white;
  }
}

.conference-updates{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #EDE9E4;
  border-radius: 8px;
}

.conference-tickets{
  background: #FFFFFF;
  border-radius: 8px;
  a {
    margin-bottom: 10px;
  }
}

.videos-button {
    border: 2px solid white;
    width: 271px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

.light-ui-btn{
  text-align: center;
  border: 2px solid $red;
  width: 191px;
  height: 50px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  color: $red;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  background-color: #EDE9E4;
  padding: 0 2.4rem;
  margin-bottom: 10px;
}

.price-cost{
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 500;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.dark-ui-btn{
  text-align: center;
  border: 2px solid $red;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: $color-white !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  background-color: $red;
  padding: 0 2.4rem;
  margin-bottom: 10px;
}

.pg-home-submit{
  margin: 0 auto;
  width: auto;
  display: inline-block;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-btn, .ui-btn-round, .ui-btn-small {
    display: inline-block;
    background-color: #cc2a41;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 0 2.4rem;
    line-height: 5rem;
    height: 5rem;
    font-weight: bold;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker {
  margin-top: 35px;
  width: 31%;

  @include xs-screen {
    width: 100%;
  }

  .speaker-info {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 10px;

    a {
      color: $red;
    }
  }

  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }

  h6 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
  }

  .excerpt {
    font-weight: 300;
  }
  .read-more {
    color: $red;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
  }
}

.modal-title {
  letter-spacing: 0.5px;
  text-align: left;
}

.modal-location {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-left: 5px;
}

.modal-body {
  padding: 65px 70px;
  font-size: 18px;
  font-weight: 300;

  @include xs-screen {
    padding: 35px 35px;
  }
}

.modal-link {
  color: $red;
  border: 2px solid $gray;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;

  a {
    font-size: 18px;
  }
}

.modal-image, .small-image {
  border-radius: 12px;

  @include xs-screen {
    margin: auto;
  }
}

.sponsors {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.sponsors-subtitle {
  margin-top: 15px;
}

.sponsors-level-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sponsor-level {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sponsor {
  border: 2px solid $border-gray;
  border-radius: 10px;
  box-shadow: -8px 8px rgba(204,204,204,0.5);
  margin-right: 20px;
}

.platinum-sponsors {
  margin-bottom: 45px;
}

.gold-sponsors{
  margin-bottom: 25px;

  .small-image {
    height: 149px;
  }
}

.silver-sponsors {
  margin-bottom: 25px;

  .small-image {
    height: 109px;
  }
}

.bronze-sponsors {
  margin-bottom: 50px;

  .small-image {
    height: 68px;
  }
}
