.announcement {
  height: 720px;
  background: $red no-repeat center 63% url("/assets/images/goruco-x.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  letter-spacing: 2.5px;

  @include xs-screen {
    height: 375px;
    padding: 0 30px;
  }

  h1 {
    font-size: 48px;
    text-shadow: -5px 5px 0px rgba(0,0,0,0.20);

    .headline {
      margin-bottom: 15px;
    }

    @include xs-screen {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;

    .date {
      margin-bottom: 15px;
    }

    @include xs-screen {
      font-size: 13px;
    }
  }

  .videos-button {
    border: 2px solid white;
    width: 271px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .prospectus {
    width: 100%;
    margin-top: 235px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 450px;
    margin-bottom: 15px;
    font-size: 14px;

    @include xs-screen {
      margin-top: 30px;
      margin-right: 0;
      justify-content: center;
    }
  }
}

.divider {
  position: relative;
  margin-top: 55px;
  margin-bottom: 50px;

  hr {
    border-top: 2px solid #DBD7D3;
  }

  img {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.news {
  margin-bottom: 30px;
}

.news, .info-wrapper {
  color: $text-color;

  h2, h3, h4 {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 30px;
    font-size: 38px;
    font-weight: 900;
    text-shadow: -3px 3px 0px rgba(0,0,0,0.15);
    text-align: center;
    letter-spacing: 3.49px;
  }

  h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-top: 18px;
    margin-bottom: 30px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}


.info-top-divider {
  margin-top: 52px;
  margin-bottom: -30px;
}

.info-wrapper {
  border: 2px solid $border-gray;
  border-radius: 10px;
  background: $gray2;
  padding: 35px;

  .divider {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  a, a:visited {
    text-decoration: none;
    color: $red;
  }

  h2 {
    margin-top: 30px;
  }

  .info {
    margin-bottom: 80px;
  }

  .info:last-child {
    margin-bottom: 15px;
  }

  .contact-info {
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }

    p {
      color: $gray-text-color;
      font-size: 18px;
      font-weight: 500;
    }

    a {
      font-size: 18px;
    }
  }
}

.post-excerpt {
  border: 2px solid $border-gray;
  border-radius: 10px;
  background-color: #F7F5F2;
  padding: 25px 40px;
  margin-top: 25px;
  box-shadow: -10px 10px rgba(204,204,204,0.5);

  p {
    font-size: 18px;
    font-weight: 300;
  }

  h2 {
      margin-top: 30px;
      font-size: 30px;
      font-weight: 900;
      text-shadow: -3px 3px 0px rgba(0,0,0,0.15);
      text-align: left;
      letter-spacing: 3.49px;
  }

  a {
    font-size: 18px;
    font-weight: 300;
    color: $red;
  }

  .all-news-button {
    border: 2px solid $red;
    width: 191px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $red;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
  }
}

.ui-form-input-on-dark {
  height: $ui-height;
  line-height: $ui-height;
  border: 0;
  border-radius: $ui-border-radius;
  width: 22rem;
  &:hover,
  &:focus{
    border-color: $color-white;
  }
}

.pg-home-input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pg-home-submit{
  margin: 0 auto;
  width: auto;
  display: inline-block;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-btn, .ui-btn-round, .ui-btn-small {
    display: inline-block;
    background-color: #cc2a41;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 0 2.4rem;
    line-height: 5rem;
    height: 5rem;
    font-weight: bold;
}
